<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>


	<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

	<script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  
  <form action="/add_project/" method="post">
    {% csrf_token %}
  	活动名称：<input type="text" name="projectname"/> <br/>
  	活动发布日期：<input type="date" name="publicdate" /> <br/>
  	<input type="submit" value="添加">
  </form>

  <div id="projects">
  {% for project in projects %}
    <a href="{{ project.get_absolute_url }}">{{ project }}</a>
  {% endfor %}
  </div>

</div>

</body>
</html>